<div style="display:flex">
    <div style="width:50%">
        <h4 style="margin-left:150px;">Comment</h4>
        <input #comment type='input' style="height:100px; width:400px;" id='comment'><br><br>
        <button type="submit" (click)="addComment(comment.value)" style="margin-left:150px">Publish</button>
        <p style="margin-left:110px">{{message}}</p>
    </div>
    
    <div style="width:50%; border:1px solid black; height:15em; overflow: hidden;">
        <div style="margin-left:20px; margin-right:20px;">
        <h4>Published Comments:-</h4>
        <hr>
        </div>
        <div *ngIf="detailedNews.commentCount!=0" style="height:80%; overflow: scroll;">
            <div *ngFor="let comment of detailedNews.comments" style="margin-left:20px; margin-right:20px;">
                <h4>{{comment.user}}</h4>
                <p>{{comment.comment}}</p>
                <hr>
            </div>
        </div>
    </div>
</div>