.News {
font-size:35px;
margin-left:35px;
}

.yet {
font-size:15px;
margin-left:25px;
}

body {
margin:0;
padding:0;
}

.main {
width:100%;
}

.top {
color:#FFF;
font-size:35px;
background-color:#00008B;
padding-bottom:40px;
padding-top:40px;
}

.section {
margin-top:-7px;
padding:20px;

}

.section1 {
float:left;
width:19%;
}

.section2 {
float:right;
width:81%;

}

.modal {
display:none;
position:fixed;
z-index:1;
width:100%;
height:100%;
overflow:auto;
margin-top:100px;
}

.modal_content {
position:fixed;
background-color:#ADD8E6;
width:100%;
}

.modal_head {
background-color:#00008B;
color:#FFF;
padding:20px;
}

.modal_body {
color:#000;
padding:20px;
}

.align {
margin-left:30px;
}

.close {
color:#FFF;
float:right;
font-size:28px;
font-weight:700;
}

.close:hover,.close:focus {
color:#000;
text-decoration:none;
cursor:pointer;
}

.span1 {
margin-top:100px;
font-size:15px;
font-style:italic;
margin-left:20px;
}

.border {
border-bottom:1px solid #D3D3D3;
margin-top: 210px;
margin-left:10px;
}

img {
margin-right:8px;
height:155px;
width:170px;
padding:2px 10px 10px;
}

.fin-section {
margin-bottom:9%;
margin-left:2px;
padding:10px;
}

.one {
color:#00008B;
font-size:20px;
margin-top:-5px;
margin-bottom:-10px;
}

hr {
opacity:0.2;
margin-left:20px;
}

.opac {
font-size:15px;
opacity:0.5;
margin-top:-5px;
}

.center {
float:left;
width:80%;
margin-top:24px;
}

.side {
width:20%;
float:right;
}

.drop {
width:245px;
height:35px;
border:solid 1.2px;
}

.email {
border:solid 1.2px;
height:35px;
width:145px;
padding:0;
}

.button {
background-color:#FF4500;
color:#FFF;
border:0;
height:35px;
width:180px;
margin-top:10px;
}

.hide {
display:none;
}

.subscribe {
background-color:#000;
margin-right:8px;
height:38px;
color:#FFF;
border:0;
margin-left:-5px;
width:100px;
}

footer {
background:#00008B;
bottom:0;
height:35px;
width:100%;
text-align:center;
color:#FFF;
position:fixed;
}
