{{filterWord}}
<div *ngIf="authService.isAuthenticated()">
	<div class="header-bottom">
		<span>
			<div class="news-list">
				<select (change)="getChannelName($event.target.value)">
					<option *ngFor="let channelName of channel">{{channelName}}</option>
				</select>
			</div>
			<div class="filter" style="display: flex;">
				<div *ngIf="!filterword ; else clear">
						<input #filterWord type='text' id='filter'>
					<button (click)="filter(filterWord.value)">Filter</button>
				</div>
				<ng-template #clear>
					<button (click)="clearFilter()" style="margin-left:100px;">Clear</button>
				</ng-template>
			</div>
			<div *ngIf='this.authService.user==="admin"' class="article" (click)='setAdd()'>
				<button [routerLink]="'/add-article'">Add article</button>
			</div>
		</span>
	</div>
</div>